* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.calculator {
    width: 400px;
    background-color: black;
    color: white;
}

.screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}


.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
    height: 100px;
}


.calc-button {
    background-color: #d8d9db;
    font-size: 40px;
    cursor: pointer;
}

.calc-special {
    color: white;
    background-color: #df974c;
}


.calc-button-small {
    width: 24.8%;
}

.calc-button-medium {
    width: 49.8%;
}

.calc-button-large {
    width: 74.8%;
}
